test3_tuto_waveglow.wav
testdu1erseptembre.wav
test_tuto1_wavernn.wav
test2_tuto_giffinlim.wav
output_griffinlim.wav
output_wavernn.wav
test1_tuto1_wavernn.wav
test2_tuto_griffinlim.wav
STT/
test_saved/
